<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>О Нас</h2>
            <p>
                Мы занимаемся продажей профильной трубы в Пуховичском районе.
                Склад находится в п. Дружном по адресу Парковая 9б.
                <a href="#contact">Схема проезда</a>
            </p>
            <p>
                Бесплатно производим распил трубы и доставку в радиусе 15км от п. Дружный
            </p>
            <p>
                Время работы: 9 - 18. Выходной: Воскресение
            </p>
            <p>
                Дополнительную информацию ищите в разделе
                <a class="page-scroll" href="#contact">Контакты</a> и <a class="page-scroll" href="#delivery">Доставка</a>
            </p>
            <br/>
        </div>
    </div>
</section>
