<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>Контакты</h2>
            <br/>
            <p>
                Контактные Телефоны:
            </p>
            <p>+375 29 6910045</p>
            <p>+375 29 7520706</p>
            <div>
                <p>УНП 691067344 от 03.08.2011</p>
                <p>Адрес: Минская обл., Пуховичский р-н, п. Дружный, ул. Чепика д2. кв.6</p>
                <p>Расчетный счет: 3013062605096 в ЦБУ № 626 г. Марьина Горка ф-ла №500 Минского управления ОАО "АСБ Беларусьбанк"</p>
                <p>Телефон: +375(29)6910045</p>
            </div>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zGHutqkgknQI.kSj-SryKfFjw" width="640" height="480"></iframe>
        </div>
    </div>
</section>
