<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>Контакты</h2>
            <br/>
            <p>
                Контактные Телефоны:
            </p>
            <p>+375 29 6910045</p>
            <p>+375 29 6910045</p>
            <p>+375 29 6910045</p>
            <p>
                <p>УНП 191553845</p>
                <p>Юридический адрес: 220036, г.Минск, ул.Западная, 13, офис 485</p>
                <p>Почтовый адрес: 220082, г.Минск, а/я 29</p>
            </p>
            <!-- <div id="map"></div> -->
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zGHutqkgknQI.kSj-SryKfFjw" width="640" height="480"></iframe>
        </div>
    </div>
</section>
