<!-- Delivery Section -->
<section id="description" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>Описание и применение</h2>
            <br/>
            <p>
                <b>Профильная труба</b> является видом фасонного металлопроката. Изготавливаются профильные трубы из конструкционных углеродистых сталей обыкновенного качества — ст 3, низколегированных конструкционных сталей, например, 09Г2С; нержавеющих сталей, к примеру, 08Х18Н10; химически- и жаростойких спецсталей; алюминия и его сплавов; меди (для бытовых газопроводов; овальные тонкостенные гофрированные - для волноводов в радиоэлектронике и технике СВЧ); латуни, циркония (в атомной промышленности) и других материалов.
            </p>
            <p>
                Основное достоинство профильной трубы - повышенная сопротивляемость скручивающим, изгибающим и вибрационным нагрузкам. Отсюда следует меньшая на единицу несущей способности стоимость металлоконструкций из них, прежде всего - строительных. К примеру, если для каркаса сборного домика применена труба профильная, его цена оказывается на 3-7% меньше, чем у равнопрочного из круглой трубы
            </p>
            <p>
                Профильные трубы со скругленными углами, не теряя своей экономичности, хорошо держат также знакопеременные нагрузки, поэтому достаточно широко используются в машиностроении.
            </p>

            <p class="text-left">
                Помимо этого, профтрубы используют:
            </p>
            <ul class="text-left">
                <li>Газовая, химическая, фармацевтическая и пищевая промышленность.</li>
                <li>Сельское хозяйство.</li>
                <li>Предприятия атомной промышленности.</li>
                <li>Энергетика и теплотехника.</li>
                <li>Аэрокосмическая отрасль.</li>
                <li>Жилищно-коммунальное хозяйство.</li>
                <li>Строительные компании - для заборов, ворот, ростверков фундаментов, каркасов зданий, карнизов, навесов и т. п. *</li>
                <li>Рекламные фирмы - для щитов, бигбордов, ситилайтов, вывесок и др.</li>
                <li>Частные потребители для хозяйственных нужд.</li>
                <li>Научные и образовательные учреждения.</li>
            </ul>
            <br/><br/>
        </div>
    </div>
</section>
